#footer {
  margin: 15px 0px 15px 0px;
  padding: 10px 0px 10px 0px;
  background-color: #00B3E6;  
  color: white;     
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

#title {
  color: white;
}

#title:hover {
  color: white;
}
