<div class="container">
  <h2>You can choose the red pill, or the blue one.</h2>
  <p>We see you tried sneaking into a members-only area. Nice try URL-hacking, Avi.</p>
  <p>Follow the white rabbit. Don't let this happen again.</p>
</div>