<h1>Books</h1>
<a href="/books/new" class="btn btn-primary">Add Book</a>
<br><br>
<div class="card">
  <div class="card-body">
    <% Book.all.each do |book| %>
      <a href="/books/<%= book.id %>"><%= book.title %> </a><br><br>
    <% end %>
  </div>
</div>
