<h1>Books</h1>
<a href="/books/new" class="btn btn-primary">Add Book</a>
<br><br>
<div class="card">
  <div class="card-body">
    Books list goes here to pull links to books from the database
  </div>
</div>
