<br>
<h2>Edit Book Report</h2>
<div class="card">
  <div class="card-body">
    <form action="/book_reports" method="POST">
      <div class="form-group">
        <label>Title:</label>
        <input name="title" type="text" class="form-control">
        <small class="form-text text-muted">Add a title</small>
      </div>
      <div class="form-group">
        <label>Synopsis:</label>
        <textarea name="synopsis" rows="10" type="text" class="form-control"></textarea>
        <small class="form-text text-muted">Give a summary of your book</small>
      </div>
      <div class="form-group">
        <label>Review:</label>
        <textarea name="review" rows="5" type="text" class="form-control"></textarea>
        <small class="form-text text-muted">Review - give a numbered rating and a brief opinion of the book</small>
      </div>
      <input type="hidden" name="book_id" value="<%= params[:book_id] %>">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>