<h1>Book Reports</h1>
<a href="/book_reports/new" class="btn btn-primary">Add Book Report</a>
<br><br>
<div class="card">
  <div class="card-body">
    Book reports list goes here to pull links to books from the database
  </div>
</div>
