<h1>Book Reports</h1>
<div class="card">
  <div class="card-body">
  <% if current_user.book_reports.count != 0 %>
    <% current_user.book_reports.each do |book_report| %>
      <a href="/books/<%= book_report.book_id %>"><%= book_report.title %> </a><br><br>
    <% end %>
  <% else %>
    Book reports you write will be added here.
  <% end %>
  </div>
</div>
