<br>
<div class="jumbotron">
  <h1 class="display-4">Welcome to Fireside!</h1>
  <p class="lead">This is a simple application to catalogue metadata about books, and allow users to submit reports/reviews of the books submitted to our database.</p>
  <hr class="my-4">
  <p>To get started, sign up or log in below:</p>
  <a class="btn btn-primary btn-md" href="/signup" role="button">Sign Up!</a> or existing users <a href="/login"> log in</a>
</div>

<p>This is a portfolio project for Module 2 of Flatiron School written by Gage Morgan.</p>
<p>The original Fireside concept was created in October 2019 influenced by Grounds For Thought in downtown Bowling Green, Ohio.</p>